.header {
  width: 100vw;
  height: 55vw;
  line-height: 90%;
  background: #387CF9;
  background-image: url(../img/logo.png);
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: 20vw 20vw;
  text-align: center;
  color: #FCFEFD;
  box-sizing: border-box;
  padding-top: 38%;
  font-size: 5vw;
  letter-spacing:2px;
}
.content{
  width: 100vw;
  border-radius: 5vw;
  margin-top: -5vw;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 8vw 5vw 0 5vw;
}

.content p{
  color: grey;
}
.content .btn{
  width: 80vw;
  height: 10vw;
  border-radius: 5vw;
  margin: 3vw 5vw;
}